#navigation {
    background-color: #312783;
}
#studentButton {
    background-color: #bba461;
    border-color: #9d894f;
}
#btn {
    background-color: #bba461;
    border-color: #9d894f;
}
#footer{
    background-color: #c8d3da;
}
#info {
    background-color: #c8d3da;
}

