@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.ContactMessage</h3>

<address>
    Zita Kocza<br />
    <abbr title="B number:"></abbr>
    B00786645
</address>

<address>
    <strong>Contact email:</strong>   <a href="mailto:koczka-z@ulster.ac.uk">koczka-z@ulster.ac.uk</a><br />
</address>